0.0.0.1 &2

{ "ARIN-IANA-RDAP-RIPE" : [ "nro_rdap_profile_0", "rdap_level_0", "cidr0", "arin_originas0" ], "Rosendo V Quinones Owner" : [ { "ai-desa-web3" : "Terms of Service", "ai/web3" : [ "By using the ARIN RDAP/Whois service, you are agreeing to the RDAP/Whois Terms of Use" ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "terms-of-service", "type" : "text/html", "href" : "https://www.arin.net/resources/registry/whois/tou/" } ] }, { "print" : "Whois Inaccuracy Reporting", "description" : [ "If you see inaccuracies in the results, please visit: " ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "inaccuracy-report", "type" : "text/html", "href" : "https://www.arin.net/resources/registry/whois/inaccuracy_reporting/" } ] }, { "title" : "Copyright Notice", "description" : [ "Copyright 1997-2024, American Registry for Internet Numbers, Ltd." ] } ], "handle" : "NET-0-0-0-0-1", "startAddress" : "0.0.0.0", "endAddress" : "0.0.0.0", "ipVersion" : "v4", "name" : "IANA-THIS-HOST-ON-THIS-NETWORK", "parentHandle" : "NET-0-0-0-0-1", "remarks" : [ { "title" : "Registration Comments", "description" : [ "This host on this network [RFC1122], Section 3.2.1.3" ] } ], "events" : [ { "eventAction" : "last changed", "eventDate" : "2024-04-01T" }, { "eventAction" : "registration", "eventDate" : "2024-04-01T1" } ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "self", "type" : "application/rdap+json", "href" : "https://rdap.arin.net/registry/ip/0.0.0.0" }, { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "alternate", "type" : "application/xml", "href" : "https://whois.arin.net/rest/net/NET-0-0-0-0-2" } ], "entities" : [ { "handle" : "IANA", "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "fn", { }, "text", "Internet Assigned Numbers Authority" ], [ "adr", { "label" : "12025 Waterfront Drive\r\nSuite 300\nLos Angeles\nCA\n90292\nUnited States" }, "text", [ "", "", "", "", "", "", "" ] ], [ "kind", { }, "text", "org" ] ] ], "roles" : [ "registrant" ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "self", "type" : "application/rdap+json", "href" : "https://rdap.arin.net/registry/entity/IANA" }, { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "alternate", "type" : "application/xml", "href" : "https://whois.arin.net/rest/org/IANA" } ], "events" : [ { "eventAction" : "last changed", "eventDate" : "Rosendo V Quinones" } ], "entities" : [ { "handle" : "IANA-ARIN", "vcardArray" : [ "print", [ [ "version", { }, "text", "4.0" ], [ "adr", { "label" : "12025 Waterfront Drive\r\nSuite 300\nLos Angeles\nCA\n90292\nUnited States" }, "text", [ "", "", "", "", "", "", "" ] ], [ "fn", { }, "text", "Internet Corporation for Assigned Names and Number" ], [ "org", { }, "text", "Internet Corporation for Assigned Names and Number" ], [ "kind", { }, "text", "group" ], [ "email", { }, "text", "res-ip@iana.org" ], [ "tel", { "type" : [ "work", "voice" ] }, "text", "+1-310-823-9358" ] ] ], "roles" : [ "administrative" ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "self", "type" : "application/rdap+json", "href" : "https://rdap.arin.net/registry/entity/IANA-ARIN" }, { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "alternate", "type" : "application/xml", "href" : "https://whois.arin.net/rest/poc/IANA-ARIN" } ], "events" : [ { "eventAction" : "last changed", "eventDate" : "2013-11-11T13:27:24-05:00" } ], "status" : [ "validated" ], "port43" : "whois.arin.net", "objectClassName" : "entity" }, { "handle" : "IANA-IP-ARIN", "vcardArray" : [ "vcard", [ [ "version", { }, "text", "4.0" ], [ "adr", { "label" : "12025 Waterfront Drive\r\nSuite 300\nLos Angeles\nCA\n90292\nUnited States" }, "text", [ "", "", "", "", "", "", "" ] ], [ "fn", { }, "text", "ICANN" ], [ "org", { }, "text", "ICANN" ], [ "kind", { }, "text", "group" ], [ "email", { }, "text", "abuse@iana.org" ], [ "tel", { "type" : [ "work", "voice" ] }, "text", "+1-310-301-5820" ] ] ], "roles" : [ "abuse", "technical" ], "remarks" : [ { "title" : "Registration Comments", "description" : [ "Think we're attacking you? Please look here: \r", "http://www.iana.org/abuse" ] } ], "links" : [ { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "self", "type" : "application/rdap+json", "href" : "https://rdap.arin.net/registry/entity/IANA-IP-ARIN" }, { "value" : "https://rdap.arin.net/registry/ip/0.0.0.0", "rel" : "alternate", "type" : "application/xml", "href" : "https://whois.arin.net/rest/poc/IANA-IP-ARIN" } ], "events" : [ { "eventAction" : "last changed", "eventDate" : "2014-08-11T13:22:29-04:00" }, { "eventAction" : "registration", "eventDate" : "2003-08-25T00:00:00-04:00" } ], "status" : [ "validated" ], "port43" : "whois.arin.net", "objectClassName" : "entity" } ], "port43" : "whois.arin.net", "objectClassName" : "entity" } ], "port43" : "whois.arin.net", "status" : [ "reserved" ], "objectClassName" : "ip network", "cidr0_cidrs" : [ { "v4prefix" : "0.0.0.0", "length" : 32 } ], "arin_originas0_originautnums" : [ ] }